.container{
	width:900px;
    margin:0 auto;
}
.logo{
	float:left;
     margin-top:38px;
	 margin-bottom:34px;
}
nav ul li{
	margin-left:100px;
	display:inline;
}
nav ul li a:hover{
	color:red;
}
nav ul li a{
	color:#aaaaaa;
	font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
}
nav{
	float:right;
	margin-top:38px;
	margin-bottom:34px;
}
.slider img{
	width:100%;
}
.featured{
	text-align:center;
}
.featured h1{
	color:#262626;
	font-size:24px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:underline;
	margin-top:53px;
	margin-bottom:46px;
}
.featured p{
	color:#575757;
	margin-bottom:56px;
}
.featured-1 img{
	margin-bottom:57px;
}
.featured-2 img{
	margin-bottom:57px;
}
.featured-3 img{
	margin-bottom:57px;
}
.featured-1{
	margin-right:61px;
	float:left;
	width:260px;
}
.featured-2{
	float:left;
    width:260px;
}
.featured-3{
	float:right;
    width:260px;
}
footer{
	background-color:#4f4f4f;
	padding-top:31px;
	padding-bottom:30px;
}
footer p{
	color:#6b6b6b;
	font-family:Arial, Helvetica, sans-serif;
}
footer p span{
	float:right;
}
.bg{
	margin-top:75px;
	margin-bottom:72px;
	background-color:#f3f3f3;
	padding-top:86px;
	padding-bottom:51px;
}
.team p{
   margin-bottom:56px;
   color:#555555;
}
.team{
	text-align:center;
}
.team h1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	text-decoration:underline;
	font-weight:bold;
	margin-bottom:48px;
}
.team-1{
	margin-right:23px;
	float:left;
	width:203px;
}
.team-2{
	margin-right:23px;
	float:left;
	width:203px;
}
.team-3{
	float:left;
	width:203px;
}
.team-4{
	float:right;
	width:203px;
}
.team-2 img{
	margin-bottom:16px;
}
.team-3 img{
   margin-bottom:16px;
}
.contact{
	text-align:center;
}
.contact h1{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:24px;
	text-decoration:underline;
	margin-top:173px;
	margin-bottom:55px;
}
.contact-left img{
	margin-bottom:256px;
}
.contact-left{
	width:353px;
	margin-right:40px;
	float:left;
}
.contact-left p{
	margin-bottom:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.contact-right{
	float:right;
	width:507px;
}
.contact-right p{
	margin-bottom:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
textarea{
	width:507px;
	padding-left:29px;
	padding-top:29px;
	height:230px;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	background-color:#f2f2f2;
	border:1px solid #d8d8d8;
	margin-bottom:15px;
}
input{
	border:1px solid #d8d8d8;
	width:290px;
	height:60px;
		font-family:"Times New Roman", Times, serif;
	font-size:18px;
	font-style:italic;
	background-color:#f2f2f2;
	padding-left:20px;
}
button{
	color:#f0f0fc;
	background-color:#6895a8;
	margin-left:26px;
	height:55px;
	width:165px;	